html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cardfeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

h1 {
    font-weight: 200;
    font-size: 2rem;
    padding: 0px;
    margin: 20px 0px 0px;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
    padding: 0px;
    margin: 0px 0px 15px;
}

h3 {
    font-weight: 600;
    font-size: 1rem;
    padding: 0px;
    margin: 0px 0px 5px;
}

p.intro {
    width: 400px;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.feat {
    width: 220px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    font-weight: 400;
    font-size: 0.7rem;
    margin: 20px 10px;
    box-shadow: 0px 5px 10px #e6f3f8;
}

p {
    margin: 0px 0px 20px;
}

.supervisor {
    border-top: 2px solid hsl(180, 62%, 55%);
}

.builder {
    border-top: 2px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 2px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 2px solid hsl(212, 86%, 64%);
}

span {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

span img {
    width: 2rem;
}

@media (max-width:850px) {
    .cardfeature {
        max-width: 350px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p.intro {
        width: 250px;
    }

    .features {
        flex-direction: column;
    }
}

.attribution {
    font-size: 10px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}